@model IEnumerable<Pacifice_Website.Models.Category>
@{
    ViewData["Title"] = "Index";
    int i = 1;
}




<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header bg-info ">
                <span class=" text-white font-weight-normal"><b>Manage Category</b></span>
            </div>
            <div class="table-responsive">
                @if (Model != null)
                {
                    <table class="table border-top-0 table-bordered m-3 table-striped font-weight-normal">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:100px">@i</td>
                                    <td style="width:100px">@item.Name</td>
                                    @if (item.Status)
                                    {
                                        <td style="width:100px;color:darkgreen">Enable</td>
                                    }
                                    else
                                    {
                                        <td style="width:100px;color:maroon">Disable</td>
                                    }

                                    <partial name="_ButtonPartial" model="@item.Id" />
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>

                }
            </div>
        </div>
    </div>
</div>



