/*start Registe + Login Page Css*/
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
*{
    margin:0;
    padding:0;
}
.wraper {
 
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/css/image/banner2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
.form-box {
    width: 410px;
    height: auto;
    position: relative;
    border-radius:30px;
    margin: 6% auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
}
.button-box {
    width: 250px;
    margin: 35px auto;
    color:#fff;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
    .button-box .toggle-btn {
        padding: 10px 30px;
        cursor: pointer;
        background: transparent;
        border: 0;
        color: #fff;
        outline: none;
        font-size: 15px;
        position: relative;
    }
#btn{
    top:0;
    left:0;
    position:absolute;
    width: 110px;
    height:100%;
    color:#fff;
    background:linear-gradient(to right,#ff105f,#ffad06);
    border-radius:30px;
    transition:0.5s;
}
.form-group label{
 font-size:13px;
 color:#fff;
}
.form-group input {
    width: 100%;
    height: 25px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    color:#fff;
    background: transparent;
}
.form-group .checkbox1 {
    width: 100%;
    height: 20px;
}
.submit-btn {
    width: 100%;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
/*.form-box .form-control {
    height: 30px;
    width: 180px;
    border-radius: 5px;
}*/
/*Registe + Login Page Css End*/
.navbar-nav .nav-span {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    font-size: 15px;
    position: relative;
}
.bg-mattBlackLight {
    background-color: rgb(10, 0, 26);
    box-shadow: #290066;
}

.sidemenuToggler i {
    color: aliceblue;
}
.navbar-brand h3 {
    color: floralwhite;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.navbar-brand span {
    color: sandybrown;
}

.white-btn i {
    color: aliceblue;
}

.white-btn span {
    color: aliceblue;
}

.navbar-custom {
    background-color: slateblue !important;
    box-shadow: 10px 10px 20px rgb(10, 0, 26) !important;
}

    .navbar-custom .nav-link .icon {
        color: rgb(10, 0, 26);
    }
/*.navbar-custom .nav-link .nav-link:hover .icon,
    .nav-link:hover .text, .nav-link.active .icon,
    .nav-link.active .text {
        color: rgb(10, 0, 26);
    }*/


@media (max-width: 768px) {
    .navbar-nav {
        display: block;
        margin-left: auto;
    }
}

.nav-link:hover .icon,
.nav-link:hover .text, .nav-link.active .icon,
.nav-link.active .text {
    color: #ec6271;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 1000px;
}

.wrapper {
    margin-top: 3.5rem;
}

    .wrapper .sideMenu {
        position: fixed;
        box-shadow: 10px 10px 20px rgb(10, 0, 26);
        top: 0.50rem;
        bottom: 0;
        margin: 3.5rem auto auto;
        left: 0;
        width: 12.5rem;
        -webkit-transition: all ease 0.25s;
        transition: all ease 0.25s;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        z-index: 2000;
    }

.navbar-brand {
    text-align: center;
}

.wrapper .content {
    width: 100%;
    margin-left: 0rem;
    margin-top: 1rem;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

.wrapper.active .sideMenu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.nav-icon {
    color: rgb(10, 0, 26);
}

.nav-span span {
    color: rgb(10, 0, 26);
}

.nav-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    white-space: nowrap;
    color: beige
}

    .nav-link .icon {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
        font-size: 1.875rem;
        color: antiquewhite;
        vertical-align: middle;
        height: 2rem;
        width: 2rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-link .text {
        font-size: 0.875rem;
    }

@media only screen and (min-device-width: 920px) {
    .wrapper .sideMenu {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .wrapper .content {
        margin-left: 12.5rem;
    }

    .wrapper.active .sideMenu {
        width: 5rem;
    }

        .wrapper.active .sideMenu .nav-link {
            text-align: center;
        }

            .wrapper.active .sideMenu .nav-link .icon {
                margin-right: 0;
            }

            .wrapper.active .sideMenu .nav-link .text {
                display: none;
            }

    .wrapper.active .content {
        margin-left: 5rem;
    }

    .sidemenuToggler i .sidemenuToggler i:hover {
        color: rgb(10, 0, 26);
    }
}
