/*Registe + Login Page Css*/









.bg-mattBlackLight {
    background-color: rgb(10, 0, 26);
    box-shadow: #290066;
}

.sidemenuToggler i {
    /*margin-top:1rem;
    margin-bottom:0rem;*/
    color: aliceblue;
}
/*label .collap i {
    margin-top: 1.1rem;
}*/

/*.navbar-brand {
    margin-top: 10px;
}*/
.navbar-brand h3 {
    color: floralwhite;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.navbar-brand span {
    color: sandybrown;
}

.white-btn i {
    color: aliceblue;
}

.white-btn span {
    color: aliceblue;
}

.navbar-custom {
    background-color: slateblue !important;
    box-shadow: 10px 10px 20px rgb(10, 0, 26) !important;
}

    .navbar-custom .nav-link .icon {
        color: rgb(10, 0, 26);
    }
/*.navbar-custom .nav-link .nav-link:hover .icon,
    .nav-link:hover .text, .nav-link.active .icon,
    .nav-link.active .text {
        color: rgb(10, 0, 26);
    }*/


@media (max-width: 768px) {
    .navbar-nav {
        display: block;
        margin-left: auto;
    }
}

.nav-link:hover .icon,
.nav-link:hover .text, .nav-link.active .icon,
.nav-link.active .text {
    color: #ec6271;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 1000px;
}

.wrapper {
    margin-top: 3.5rem;
}

    .wrapper .sideMenu {
        position: fixed;
        box-shadow: 10px 10px 20px rgb(10, 0, 26);
        top: 0.50rem;
        bottom: 0;
        margin: 3.5rem auto auto;
        left: 0;
        width: 12.5rem;
        -webkit-transition: all ease 0.25s;
        transition: all ease 0.25s;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        z-index: 2000;
    }

.navbar-brand {
    text-align: center;
}

.wrapper .content {
    width: 100%;
    margin-left: 0rem;
    margin-top: 1rem;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

.wrapper.active .sideMenu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.nav-icon {
    color: rgb(10, 0, 26);
}

.nav-span span {
    color: rgb(10, 0, 26);
}

.nav-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    white-space: nowrap;
    color: beige
}

    .nav-link .icon {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
        font-size: 1.875rem;
        color: antiquewhite;
        vertical-align: middle;
        height: 2rem;
        width: 2rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-link .text {
        font-size: 0.875rem;
    }

@media only screen and (min-device-width: 920px) {
    .wrapper .sideMenu {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .wrapper .content {
        margin-left: 12.5rem;
    }

    .wrapper.active .sideMenu {
        width: 5rem;
    }

        .wrapper.active .sideMenu .nav-link {
            text-align: center;
        }

            .wrapper.active .sideMenu .nav-link .icon {
                margin-right: 0;
            }

            .wrapper.active .sideMenu .nav-link .text {
                display: none;
            }

    .wrapper.active .content {
        margin-left: 5rem;
    }

    .sidemenuToggler i .sidemenuToggler i:hover {
        color: rgb(10, 0, 26);
    }
}
